In [46]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,9998,15584532,Liu,709,France,Female,36.0,7,0.00,1,0.0,1.0,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42.0,3,75075.31,2,1.0,0.0,92888.52,1
9999,9999,15682355,Sabbatini,772,Germany,Male,42.0,3,75075.31,2,1.0,0.0,92888.52,1
10000,10000,15628319,Walker,792,France,Female,28.0,4,130142.79,1,1.0,0.0,38190.78,0
10001,10000,15628319,Walker,792,France,Female,28.0,4,130142.79,1,1.0,0.0,38190.78,0

In [3]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

In [4]:
df.dropna(inplace=True)

In [5]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df1 = df.drop(columns=['RowNumber','CustomerId','Surname'], axis=1)

In [7]:
columns = [i for i in df1.columns]

In [8]:
for i in columns:
    print(f"{i} : {df1[i].unique()}")

CreditScore : [619 608 502 699 645 376 528 497 476 549 635 616 653 587 726 732 636 510
 669 846 577 756 571 574 411 591 533 553 520 722 475 490 804 850 582 472
 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725 511 614 742
 687 555 684 603 751 581 735 661 675 738 813 657 604 519 664 678 757 416
 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773 814 710
 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625 432 770
 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535 716 539
 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778 514 525
 715 580 807 501 521 759 516 711 618 643 671 689 620 676 572 695 592 567
 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771 681
 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799 602
 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644 626
 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593 801
 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724 548
 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798 641
 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598 741
 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427 839
 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844 450
 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456 435
 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812 677
 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837 794
 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449 440
 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836 473
 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422 825
 430 436 426 408 847 418 437 410 454 822 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Geography : ['France' 'Spain' 'Germany']
Gender : ['Female' 'Male']
Age : [42.   41.   39.   44.   29.   31.   24.   34.   25.   35.   45.   58.
 45.25 32.34 38.   46.   36.44 43.   36.   33.   40.   51.   61.   49.
 32.   27.   37.   19.   66.   56.   26.   21.   55.   75.   22.   30.
 28.   65.   48.   52.   50.   57.   73.   47.   54.   72.   20.   67.
 79.   62.   53.   80.   59.   68.   23.   60.   70.   63.   64.   18.
 82.   69.   74.   71.   76.   77.   88.   85.   84.   78.   81.   92.
 83.  ]
Tenure : [ 2  1  8  4  6  3 10  5  7  9  0]
Balance : [     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts : [1 3 2 4]
HasCrCard : [1. 0.]
IsActiveMember : [1. 0.]
EstimatedSalary : [101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited : [1 0]

In [9]:
df1['Gender'] = df1['Gender'].replace({'Female':0,'Male':1})

C:\Users\USER\AppData\Local\Temp\ipykernel_408\1491108459.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1['Gender'] = df1['Gender'].replace({'Female':0,'Male':1})

In [10]:
df2 = pd.concat([df1,pd.get_dummies(df1['Geography'], drop_first=True).astype('float')], axis=1)

In [11]:
df2

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain
0,619,France,0,42.0,2,0.00,1,1.0,1.0,101348.88,1,0.0,0.0
1,608,Spain,0,41.0,1,83807.86,1,0.0,1.0,112542.58,0,0.0,1.0
2,502,France,0,42.0,8,159660.80,3,1.0,0.0,113931.57,1,0.0,0.0
3,699,France,0,39.0,1,0.00,2,0.0,0.0,93826.63,0,0.0,0.0
5,645,Spain,1,44.0,8,113755.78,2,1.0,0.0,149756.71,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,709,France,0,36.0,7,0.00,1,0.0,1.0,42085.58,1,0.0,0.0
9998,772,Germany,1,42.0,3,75075.31,2,1.0,0.0,92888.52,1,1.0,0.0
9999,772,Germany,1,42.0,3,75075.31,2,1.0,0.0,92888.52,1,1.0,0.0
10000,792,France,0,28.0,4,130142.79,1,1.0,0.0,38190.78,0,0.0,0.0
10001,792,France,0,28.0,4,130142.79,1,1.0,0.0,38190.78,0,0.0,0.0

In [12]:
df2.drop('Geography', axis=1, inplace=True)

In [13]:
columns_to_scale = ['CreditScore','Age','Tenure','Balance','NumOfProducts','EstimatedSalary']

In [14]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()

df2[columns_to_scale] = scale.fit_transform(df2[columns_to_scale])

In [15]:
df2

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain
0,0.538,0,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735,1,0.0,0.0
1,0.516,0,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709,0,0.0,1.0
2,0.304,0,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654,1,0.0,0.0
3,0.698,0,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120,0,0.0,0.0
5,0.590,1,0.351351,0.8,0.453394,0.333333,1.0,0.0,0.748797,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9997,0.718,0,0.243243,0.7,0.000000,0.000000,0.0,1.0,0.210390,1,0.0,0.0
9998,0.844,1,0.324324,0.3,0.299226,0.333333,1.0,0.0,0.464429,1,1.0,0.0
9999,0.844,1,0.324324,0.3,0.299226,0.333333,1.0,0.0,0.464429,1,1.0,0.0
10000,0.884,0,0.135135,0.4,0.518708,0.000000,1.0,0.0,0.190914,0,0.0,0.0
10001,0.884,0,0.135135,0.4,0.518708,0.000000,1.0,0.0,0.190914,0,0.0,0.0

In [16]:
x = df2.drop('Exited', axis=1)
y = df2['Exited']

In [17]:
y.value_counts()

Exited
0    7960
1    2038
Name: count, dtype: int64

So there is an imbalance in my target variable. that's why although my predicted accuracy will be over 80% but it won't be predicting the minority values right. so we have to balance the dataset

In [47]:
def clf_report(x_train, x_test, y_train, y_test):
    model = LogisticRegression()
    model.fit(x_train, y_train)
    y_predicted = model.predict(x_test)
    print(classification_report(y_test, y_predicted))

# Method 1: Undersample the majority class

In [20]:
count_class_0, count_class_1 = y.value_counts()
count_class_0,count_class_1

(7960, 2038)

In [22]:
df_class_0 = df2[df2['Exited'] == 0]
df_class_1 = df2[df2['Exited'] == 1]

In [23]:
df_class_0.shape, df_class_1.shape

((7960, 12), (2038, 12))

In [25]:
undersample_df = pd.concat([df_class_0.sample(count_class_1), df_class_1], axis=0)

In [26]:
undersample_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain
3984,0.968,1,0.270270,0.8,0.000000,0.333333,1.0,1.0,0.332400,0,0.0,1.0
319,0.158,1,0.081081,0.4,0.381596,0.000000,1.0,0.0,0.230818,0,0.0,0.0
1605,0.572,0,0.175676,0.9,0.322221,0.333333,1.0,1.0,0.373187,0,1.0,0.0
3305,0.872,0,0.594595,0.8,0.000000,0.000000,1.0,1.0,0.828534,0,0.0,0.0
3822,1.000,0,0.283784,0.0,0.416052,0.000000,1.0,0.0,0.529427,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9982,0.610,0,0.378378,0.7,0.546617,0.000000,1.0,0.0,0.575729,1,1.0,0.0
9991,0.494,0,0.472973,0.4,0.352259,0.000000,1.0,0.0,0.346899,1,0.0,0.0
9997,0.718,0,0.243243,0.7,0.000000,0.000000,0.0,1.0,0.210390,1,0.0,0.0
9998,0.844,1,0.324324,0.3,0.299226,0.333333,1.0,0.0,0.464429,1,1.0,0.0
9999,0.844,1,0.324324,0.3,0.299226,0.333333,1.0,0.0,0.464429,1,1.0,0.0

In [27]:
x_under = undersample_df.drop('Exited', axis=1)
y_under = undersample_df['Exited']

In [28]:
y_under.value_counts()

Exited
0    2038
1    2038
Name: count, dtype: int64

In [38]:
x_train_under, x_test_under, y_train_under, y_test_under = train_test_split(x_under, y_under, test_size=0.2, random_state=15, stratify=y_under)

In [48]:
clf_report(x_train=x_train_under, x_test=x_test_under, y_train=y_train_under, y_test=y_test_under)

              precision    recall  f1-score   support

           0       0.69      0.71      0.70       408
           1       0.70      0.68      0.69       408

    accuracy                           0.69       816
   macro avg       0.69      0.69      0.69       816
weighted avg       0.69      0.69      0.69       816

# Method 2: Oversampling the minority class

In [51]:
oversample_df = pd.concat([df_class_0, df_class_1.sample(count_class_0, replace=True)], axis=0)

In [52]:
x_over = oversample_df.drop('Exited', axis=1)
y_over = oversample_df['Exited']

In [53]:
y_over.value_counts()

Exited
0    7960
1    7960
Name: count, dtype: int64

In [54]:
x_train_over, x_test_over, y_train_over, y_test_over = train_test_split(x_over, y_over, test_size=0.2, random_state=15, stratify=y_over)

In [55]:
clf_report(x_train=x_train_over, x_test=x_test_over, y_train=y_train_over, y_test=y_test_over)

              precision    recall  f1-score   support

           0       0.69      0.70      0.69      1592
           1       0.69      0.69      0.69      1592

    accuracy                           0.69      3184
   macro avg       0.69      0.69      0.69      3184
weighted avg       0.69      0.69      0.69      3184

# Method 3: SMOTE
it applies K means cluster to the minority class or majority class

In [56]:
!pip install imbalanced-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.12.3-py3-none-any.whl.metadata (8.3 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\appdata\roaming\python\python312\site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from imbalanced-learn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from imbalanced-learn) (1.5.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from imbalanced-learn) (3.5.0)
Downloading imbalanced_learn-0.12.3-py3-none-any.whl (258 kB)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.12.3

In [60]:
from imblearn.over_sampling import SMOTE

In [58]:
y.value_counts()

Exited
0    7960
1    2038
Name: count, dtype: int64

In [62]:
smote = SMOTE(sampling_strategy='minority')
sm_x, sm_y = smote.fit_resample(x,y)

In [63]:
sm_y.value_counts()

Exited
1    7960
0    7960
Name: count, dtype: int64

In [64]:
x_train_smote, x_test_smote, y_train_smote, y_test_smote = train_test_split(sm_x, sm_y, test_size=0.2, random_state=15, stratify=sm_y)

In [65]:
clf_report(x_train=x_train_smote, x_test=x_test_smote, y_train=y_train_smote, y_test=y_test_smote)

              precision    recall  f1-score   support

           0       0.69      0.70      0.70      1592
           1       0.70      0.69      0.70      1592

    accuracy                           0.70      3184
   macro avg       0.70      0.70      0.70      3184
weighted avg       0.70      0.70      0.70      3184

# Method 4: Use of ensembling with Undersampling

In [66]:
y.value_counts()

Exited
0    7960
1    2038
Name: count, dtype: int64

In [68]:
7960/2038 # so we'll take 4 batches

3.9057899901864572

In [69]:
7960/4

1990.0

In [76]:
1990*3

5970

In [70]:
def get_train_df(df_majority, df_minority, start, end):
    df_train = pd.concat([df_majority[start:end], df_minority], axis=0)
    x_train = df_train.drop('Exited', axis=1)
    y_train = df_train['Exited']

    return x_train, y_train

In [73]:
x_train , y_train = get_train_df(df_class_0, df_class_1, 0, 1990)
clf_1 = clf_report(x_train, x_test_under, y_train, y_test_under)

              precision    recall  f1-score   support

           0       0.69      0.69      0.69       408
           1       0.69      0.70      0.69       408

    accuracy                           0.69       816
   macro avg       0.69      0.69      0.69       816
weighted avg       0.69      0.69      0.69       816

In [75]:
x_train2, y_train2 = get_train_df(df_class_0, df_class_1, 1990, 3980 )
clf_2 = clf_report(x_train2, x_test_under, y_train2, y_test_under)

              precision    recall  f1-score   support

           0       0.69      0.69      0.69       408
           1       0.69      0.69      0.69       408

    accuracy                           0.69       816
   macro avg       0.69      0.69      0.69       816
weighted avg       0.69      0.69      0.69       816

In [77]:
x_train3, y_train3 = get_train_df(df_class_0, df_class_1, 3980, 5970 )
clf_3 = clf_report(x_train3, x_test_under, y_train3, y_test_under)

              precision    recall  f1-score   support

           0       0.70      0.70      0.70       408
           1       0.70      0.70      0.70       408

    accuracy                           0.70       816
   macro avg       0.70      0.70      0.70       816
weighted avg       0.70      0.70      0.70       816

In [78]:
x_train4, y_train4 = get_train_df(df_class_0, df_class_1, 5970, len(df_class_0))
clf_4 = clf_report(x_train4, x_test_under, y_train4, y_test_under)

              precision    recall  f1-score   support

           0       0.70      0.69      0.69       408
           1       0.69      0.70      0.70       408

    accuracy                           0.69       816
   macro avg       0.69      0.69      0.69       816
weighted avg       0.69      0.69      0.69       816

after thes e4 results, we have to count the majority prediction values in each y_predicted variable in clf_report function